<ion-content>
  <ion-card mode="md">
    <ion-card-content>
      <form [formGroup]="formularioLaboral" (ngSubmit)='datosLaboral()'>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Empresa</mat-label>
          <input formControlName="empresa" matInput type="text">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Año Inicio</mat-label>
          <input formControlName="anioInicio" matInput type="number">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>¿Trabaja aquí?</mat-label>
          <mat-select formControlName="trabajaAqui">
            <mat-option (click)="clickSelect()" value="si">Sí</mat-option>
            <mat-option (click)="clickSelect()" value="no">No</mat-option>
          </mat-select>
        </mat-form-field>

        
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Año Término</mat-label>
          <input formControlName="anioTermino" matInput type="number">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Cargo</mat-label>
          <input formControlName="cargo" matInput type="text">
        </mat-form-field>


        <ion-grid class="ion-padding-top">
          <ion-row>
            <ion-col>
              <button (click)="limpiar()" mat-raised-button  color="primary">Limpiar</button>
            </ion-col>

            <ion-col>
              <button mat-raised-button color="accent" type="submit">Guardar</button>
            </ion-col>
          </ion-row>
        </ion-grid>


      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
