<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>

  <ion-toolbar *ngIf="usuarioConectado">
    <ion-chip color="secondary">
      <ion-label>{{ usuarioConectado }}</ion-label>
    </ion-chip>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment value="explaboral" scrollable (ionChange)="segmentChanged($event)">
      <ion-segment-button value="explaboral">
        <ion-label>Exp Laboral</ion-label>
      </ion-segment-button>

      <ion-segment-button value="certificaciones">
        <ion-label>Certificaciones</ion-label>
      </ion-segment-button>

      <ion-segment-button value="misdatos">
        <ion-label>Mis Datos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>